<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">ข้อมูลของ : <%= customer.firstName  %> <%= customer.lastName  %></h1>
</div>

<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= customer.firstName  %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Last Updated <%= new Date(customer.updatedAt).toUTCString() %> </b>
      <b>UserId:</b> <%= customer._id %>
    </div>
  </div>

</div>

<ul class="list-group">

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>เลขบัตรประชาชน:</b></div>
      <div class="col"><%= customer.firstName %> <%= customer.lastName %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>ขื่อ-นามสกุล:</b></div>
      <div class="col"><%= customer.firstName %> <%= customer.lastName %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>เบอร์โทร:</b></div>
      <div class="col"><%= customer.tel %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>เลขที่ใบสั่ง:</b></div>
      <div class="col"><%= customer.number %></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>สถานะ:</b></div>
      <div class="col"><%= customer.status %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>รายละเอียด:</b></div>
      <div class="col"><%= customer.details %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>วันที่บันทึก:</b></div>
      <div class="col"><%= customer.createdAt %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>วันที่แก้ไขข้อมูล:</b></div>
      <div class="col"><%= customer.updatedAt %></div>
    </div>
  </li>

</ul>